Repository celestiaorg/celestia-core, pull requests merged in 2022-06, with the labels that each got.

#772 Prove txs that span more than two shares
  go.mod
  go.sum
  internal/rpc/core/tx.go
  pkg/prove/proof.go
  pkg/prove/proof_test.go
  types/block.go
  types/shares_test.go
  types/tx.go
Labels: C:rpc

#774 Pull changes from upstream v0.35.x
  .github/dependabot.yml
  .github/workflows/docker.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto-docker.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  CHANGELOG_PENDING.md
  UPGRADING.md
  abci/types/result.go
  cmd/tendermint/commands/key_migrate.go
  cmd/tendermint/commands/reset.go
  docs/.vuepress/config.js
  docs/nodes/metrics.md
  go.mod
  go.sum
  internal/blocksync/v0/reactor.go
  internal/consensus/reactor.go
  internal/mempool/v0/reactor.go
  internal/mempool/v0/reactor_test.go
  internal/mempool/v1/reactor.go
  internal/mempool/v1/reactor_test.go
  internal/p2p/peermanager.go
  internal/p2p/peermanager_test.go
  internal/p2p/pex/params.go
  internal/p2p/pex/pex_reactor.go
  internal/p2p/pex/reactor.go
  internal/p2p/router.go
  internal/statesync/stateprovider.go
  light/provider/http/http.go
  node/setup.go
  rpc/coretypes/responses_test.go
  scripts/keymigrate/migrate.go
  scripts/keymigrate/migrate_test.go
  version/version.go
Labels: T:tendermint

#787 Update careers link
  README.md
Labels: T:chore
