Repository celestiaorg/celestia-core, pull requests merged in 2023-01, with the labels that each got.

#922 feat!: Multiple indexes per IndexWrapper
  mempool/v0/clist_mempool_test.go
  mempool/v1/mempool_test.go
  proto/tendermint/types/types.pb.go
  proto/tendermint/types/types.proto
  state/txindex/kv/kv_test.go
  types/tx.go
  types/tx_test.go
Labels: breaking, proto breaking

#933 fix: create commitments to data root tuples instead of just data roots
  go.mod
  go.sum
  rpc/core/blocks.go
  rpc/core/blocks_test.go
Labels: T:Bug, quantum gravity bridge

#878 feat: Add Inclusion proofs for QGB verification
  light/proxy/routes.go
  light/rpc/client.go
  pkg/consts/consts.go
  proto/tendermint/types/types.pb.go
  proto/tendermint/types/types.proto
  rpc/client/http/http.go
  rpc/client/interface.go
  rpc/client/local/local.go
  rpc/client/mock/client.go
  rpc/core/blocks.go
  rpc/core/blocks_test.go
  rpc/core/routes.go
  rpc/core/tx.go
  rpc/core/types/responses.go
  types/tx.go
Labels: C:rpc, quantum gravity bridge, C: core/app

#950 feat!: prove transaction inclusion via `ShareProof`
  light/rpc/client.go
  proto/tendermint/types/types.pb.go
  proto/tendermint/types/types.proto
  rpc/client/http/http.go
  rpc/client/interface.go
  rpc/client/local/local.go
  rpc/client/rpc_test.go
  rpc/core/tx.go
  rpc/core/types/responses.go
  types/row_proof.go
  types/share_proof.go
  types/tx.go
Labels: C:rpc, C:types, C: core/app, breaking
