Repository celestiaorg/celestia-core, pull requests merged in 2025-03, with the labels that each got.

#1664 feat: support recovering parts from the mempool
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/propagation/commitment.go
  consensus/propagation/commitment_test.go
  consensus/propagation/mempool.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
  consensus/propagation/types/unmarshalling.go
  consensus/propagation/types/unmarshalling_test.go
  consensus/reactor_test.go
  consensus/replay_file.go
  consensus/wal_generator.go
  node/node.go
  types/marshalling.go
Labels: block prop, recovery

#1670 feat: verify the part hash during mempool recovery
  consensus/propagation/commitment.go
  consensus/propagation/commitment_test.go
  consensus/propagation/reactor_test.go
  consensus/propagation/types/types.go
  consensus/propagation/types/types_test.go
  proto/tendermint/propagation/types.pb.go
  proto/tendermint/propagation/types.proto
Labels: block prop, recovery

#1676 feat!: use partshashes to create and verify proofs/roots for partset …
  consensus/propagation/commitment.go
  consensus/propagation/commitment_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/reactor_test.go
  consensus/propagation/types/combined_partset.go
  consensus/propagation/types/conversions.go
  consensus/propagation/types/types.go
  consensus/propagation/types/types_test.go
  crypto/merkle/hash.go
  crypto/merkle/proof.go
  crypto/merkle/proof_test.go
  proto/tendermint/propagation/types.pb.go
  proto/tendermint/propagation/types.proto
Labels: recovery

#1675 feat: purpose -1 to return all unconfirmed transactions in UnconfirmedTxs RPC
  rpc/client/rpc_test.go
  rpc/core/mempool.go
  rpc/openapi/openapi.yaml
Labels: WS: BestTxs

#1680 chore: use cachedTx in mempool
  consensus/propagation/commitment.go
  consensus/propagation/commitment_test.go
  consensus/propagation/mempool.go
  consensus/replay_stubs.go
  mempool/cache.go
  mempool/cache_bench_test.go
  mempool/cache_test.go
  mempool/cat/pool.go
  mempool/cat/pool_test.go
  mempool/cat/reactor.go
  mempool/cat/reactor_test.go
  mempool/cat/store.go
  mempool/cat/store_test.go
  mempool/cat/tx.go
  mempool/mempool.go
  mempool/mock/mempool.go
  mempool/v0/cache_test.go
  mempool/v0/clist_mempool.go
  mempool/v0/clist_mempool_test.go
  mempool/v0/reactor.go
  mempool/v0/reactor_test.go
  mempool/v1/mempool.go
  mempool/v1/mempool_test.go
  mempool/v1/reactor.go
  mempool/v1/reactor_test.go
  mempool/v1/tx.go
  rpc/client/rpc_test.go
  rpc/core/mempool.go
  rpc/core/mocks/mempool.go
  rpc/core/tx_status_test.go
  state/execution.go
  state/tx_filter_test.go
  test/fuzz/mempool/v1/checktx.go
  types/tx.go
Labels: block prop, recovery
