Repository celestiaorg/celestia-core, pull requests merged in 2025-04, with the labels that each got.

#1695 fix!: retrieve transactions from the mempool async, ignore irelevant rounds, and don't start processing messages until switching from blocksync to consensus
  blockchain/v0/pool.go
  blockchain/v0/reactor.go
  consensus/propagation/catchup.go
  consensus/propagation/catchup_test.go
  consensus/propagation/commitment.go
  consensus/propagation/commitment_state.go
  consensus/propagation/commitment_state_test.go
  consensus/propagation/commitment_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/propagator.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
  consensus/propagation/types/combined_partset.go
  consensus/propagation/types/types.go
  consensus/propagation/types/unmarshalling.go
  consensus/propagation/types/unmarshalling_test.go
  consensus/reactor.go
  consensus/state.go
  crypto/merkle/proof.go
  go.mod
  go.sum
  libs/flowrate/flowrate.go
  mempool/cat/pool.go
  mempool/cat/reactor.go
  mempool/cat/reactor_test.go
  mempool/cat/store.go
  mempool/cat/store_test.go
  mempool/v1/mempool.go
  mempool/v1/reactor.go
  node/node.go
  pkg/trace/schema/consensus.go
  pkg/trace/schema/mempool.go
  proto/tendermint/propagation/types.pb.go
  proto/tendermint/propagation/types.proto
Labels: recovery

#1707 feat: run the catchup periodically
  consensus/propagation/commitment.go
  consensus/propagation/reactor.go
Labels: block prop, recovery

#1685 feat: handle peer disconnections in the propagation reactor
  consensus/propagation/commitment.go
  consensus/propagation/commitment_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
Labels: block prop, recovery

#1681 feat: add support for compact block sign bytes
  consensus/propagation/types/types.go
  consensus/propagation/types/types_test.go
Labels: block prop, recovery

#1703 feat: add priority mempool
  abci/types/types.pb.go
  config/config.go
  mempool/priority/README.md
  mempool/priority/mempool.go
  mempool/priority/mempool_bench_test.go
  mempool/priority/mempool_test.go
  mempool/priority/reactor.go
  mempool/priority/reactor_test.go
  mempool/priority/tx.go
  node/setup.go
  proto/tendermint/abci/types.proto
  test/e2e/docker/Dockerfile
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
  test/e2e/pkg/manifest.go
Labels: ws: v4

#1708 feat: add CAT mempool
  config/config.go
  config/toml.go
  mempool/cat/cache.go
  mempool/cat/cache_test.go
  mempool/cat/peers.go
  mempool/cat/peers_test.go
  mempool/cat/pool.go
  mempool/cat/pool_bench_test.go
  mempool/cat/pool_test.go
  mempool/cat/reactor.go
  mempool/cat/reactor_test.go
  mempool/cat/requests.go
  mempool/cat/requests_test.go
  mempool/cat/spec.md
  mempool/cat/store.go
  mempool/cat/store_test.go
  mempool/cat/tx.go
  node/setup.go
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
  types/tx.go
Labels: ws: v4

#1718 fix: start block prop processing correctly + fix height relevance
  consensus/propagation/commitment_state.go
  node/node.go
Labels: block prop, recovery

#1689 feat: verify the proposal in the propagation reactor
  consensus/propagation/commitment.go
  consensus/propagation/commitment_state.go
  consensus/propagation/have_wants.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
  consensus/state.go
  node/node.go
Labels: block prop, recovery

#1709 fix: panics in the propagation reactors
  consensus/propagation/commitment.go
  consensus/propagation/commitment_test.go
  consensus/propagation/reactor.go
  consensus/propagation/types/combined_partset.go
  consensus/propagation/types/types.go
  consensus/propagation/types/unmarshalling.go
  consensus/propagation/types/unmarshalling_test.go
  consensus/state.go
  mempool/cat/peers.go
  mempool/cat/peers_test.go
  test/e2e/node/main.go
  types/marshalling.go
  types/marshalling_test.go
Labels: recovery

#1779 feat: verify haves parts hashes
  consensus/propagation/have_wants.go
  consensus/propagation/have_wants_test.go
  consensus/propagation/reactor_test.go
  consensus/propagation/types/types.go
  consensus/propagation/types/types_test.go
Labels: block prop, recovery

#1781 feat: dynamic limit the number of requests per part
  consensus/propagation/have_want_test.go
  consensus/propagation/have_wants.go
Labels: block prop, recovery

#1783 chore: check if the tx metadata has overlapping ranges
  consensus/propagation/types/types.go
  consensus/propagation/types/types_test.go
Labels: block prop

#1784 chore: return if compact block is nil in handle have
  consensus/propagation/have_wants.go
Labels: block prop, recovery

#1778 refactor!: fix blocking edge cases, reduce complexity, and use a design that requires zero timeouts
  consensus/propagation/commitment_state.go
  consensus/propagation/have_want_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/peer_state.go
  consensus/propagation/peer_state_test.go
  consensus/propagation/reactor.go
Labels: recovery

#1785 feat: dynamic concurrent peer requests
  consensus/propagation/have_want_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
Labels: block prop, recovery

#1773 feat: limit per peer per block concurrent requests
  consensus/propagation/catchup_test.go
  consensus/propagation/commitment_state.go
  consensus/propagation/have_want_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/peer_state.go
  consensus/propagation/peer_state_test.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
  consensus/propagation/types/types.go
Labels: block prop, recovery

#1786 chore: implement RecoveryPart.ValidateBasics()
  consensus/propagation/types/types.go
  consensus/propagation/types/types_test.go
Labels: block prop, recovery

#1788 chore: validate the recovery parts
  consensus/propagation/commitment.go
  consensus/propagation/have_wants.go
  consensus/propagation/types/combined_partset.go
Labels: block prop, recovery

#1791 chore: trigger catchup when receiving a commitment
  consensus/propagation/catchup.go
Labels: block prop, recovery

#1790 chore: remove some dangling todos
  consensus/propagation/catchup.go
  consensus/propagation/commitment.go
  consensus/propagation/have_wants.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
  consensus/propagation/types/types.go
Labels: block prop, recovery
