Repository celestiaorg/celestia-core, pull requests merged in 2025-05, with the labels that each got.

#1789 chore: correctly start the request from peer routine
  consensus/propagation/commitment_state.go
  consensus/propagation/have_want_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/reactor.go
Labels: block prop, recovery

#1792 chore: use the parts request limit in catchup
  consensus/propagation/catchup.go
Labels: block prop, recovery

#1793 fix: increment the current height when adding a commitment
  consensus/propagation/catchup.go
  consensus/propagation/catchup_test.go
Labels: recovery

#1810 chore: check peer is still connected before writing to channel
  consensus/propagation/have_wants.go
Labels: block prop

#1738 feat: add the ability to sign over p2p messages and sign over the compact block
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/propagation/commitment.go
  consensus/propagation/commitment_test.go
  consensus/propagation/have_wants.go
  consensus/propagation/propagator.go
  consensus/propagation/reactor.go
  consensus/propagation/reactor_test.go
  consensus/reactor_test.go
  consensus/replay_file.go
  consensus/replay_test.go
  consensus/state.go
  consensus/wal_generator.go
  node/node.go
  privval/file.go
  privval/file_test.go
  privval/msgs.go
  privval/msgs_test.go
  privval/retry_signer_client.go
  privval/signer_client.go
  privval/signer_requestHandler.go
  proto/tendermint/privval/types.pb.go
  proto/tendermint/privval/types.proto
  state/indexer/sink/psql/psql_test.go
  types/priv_validator.go
Labels: WS: Big Blonks 🔭, recovery

#1859 chore: verifying compact block height/round
  consensus/state.go
Labels: block prop
